.text-sobreMi {
    text-align: center;
    margin: 8%;
    font-size: 30px;
    font-weight: 100;
}

p {
    padding: 0.5%;
}


@media only screen and (max-width: 768px) {
    .text-sobreMi {
        font-size: 20px;
    }
}