form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 2rem auto;
    padding: 20px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    font-size: 30px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: var(--secondary-color);
}

textarea {
    height: 100px;

}

button {
    width: 20vw;
    padding: 15px;
    background-color: var(--secondary-main-color);
    color: var(--secondary-color);
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}

button:hover {
    color: var(--text-color);
    font-weight: bold;
}

@media all and (max-width: 480px) {
    form {
        width: 80%;
        font-size: 20px;
        margin: 3rem 1rem;
    }

    input,
    textarea {
        width: 80%;
    }

    button {
        width: 40vw;
        font-size: 20px;
    }

}