.navbar-container {
    height: 15vh;
    background-color: var(--secondary-main-color);
}


.navlink-container {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.navlink {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 35px;
}

.navlink.active-link,
.navlink:focus {
    color: var(--text-color);
    font-weight: bold;

}

.navlink:hover {
    font-size: 35px;
    transform: scale(1.2);
    color: var(--text-color);
    text-shadow: 1px 1px 2px #fff;
}

.hamburger {
    display: none;
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .navbar-container {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .navlink {
        font-size: 25px;
    }

    .navbar {
        width: 100vw;
    }

}

@media all and (max-width: 480px) {

    .navbar-container {
        width: 100vw;
        height: 8vh;
    }

    .navbar {
        width: 100%;
        height: 8vh;
    }

    .navlink.open, .navlink-container {
        display: none;
        position: absolute;
        transform: translateX(0) !important
    }

    .navlink.active-link,
    .navlink:focus {
        font-weight: normal;
        transform: none;
    }

    .hamburger {
        width: 4vw;
        height: 8vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 25px;
        border: none;
    }

    .hamburger:hover {
        transform: none;
        display: grid;
        grid-template-columns: repeat(1, 34%);
    }

    .hambuger-menu {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .hambuger-menu span {
        width: 30px;
        height: 4px;
        background: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .hambuger-menu.open>span {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .hambuger-menu.open>span:nth-child(2) {
        display: none;
    }

    .hambuger-menu.open>span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }

}