.navbar-container {
    height: 25vh;
}

.navbar {
    transition: transform 0.3s, font-size 0.3s;
    background-color: var(--secondary-main-color);
    width: 100%;
}

.navlink-container {
    height: 15vh;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navlink {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 35px;
}

.navlink.active-link,
.navlink:focus {
    color: var(--text-color);
    font-weight: bold;
   
}

.navlink:hover {
    font-size: 35px;
    transform: scale(1.2);
    color: var(--text-color); 
    text-shadow: 2px 2px 5px #fff;
}

@media only screen and (max-width: 768px) {
    .navbar {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 34%);
    }

    .navlink {
        display: none;
    }

}