.contenedor-proyectos {
    width: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    text-align: center;
    margin: 1rem 0;
}

.proyectos {
    background-color: var(--secondary-color);
    opacity: 60%;
    width: 95%;
    margin: 1rem;
}

.proyectos:hover .proyectos-img,
.proyectos:hover {
    opacity: 100%;
    object-fit: contain;
}

.proyectos-img {
    height: 20vw;
    width: 20vw;
    object-fit: cover;
}

.proyectos h1 {
    margin: 2%;
    color: rgb(48, 55, 61);
    font-size: 20px;

}