.contenedor-proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    gap: 2rem;
    margin: 1rem;
}

.proyectos {
    background-color: var(--secondary-color);
    opacity: 60%;
    width: 100%;
}

.proyectos:hover .proyectos-img,
.proyectos:hover {
    opacity: 100%;
    object-fit: contain;
}

.proyectos-img {
    display: block;
    background-image: var(--image);
    height: 15rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.proyectos h1 {
    margin: 2%;
    color: rgb(48, 55, 61);
    font-size: 20px;

}